extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let droneid = toShow._id
        - let type = toShow.type
        - let cost = toShow.cost
        - let use = toShow.use
        - let actionid = "/resource/drone/" + droneid
        script let actionid = "#{actionid}"
        div
            div.row
            div(class='droneAttr mr-3') Drone ID is:
            div #{droneid}
            div.row
            div(class='droneAttr mr-3') Drone Type is:
            div #{type}
            div.row
            div(class='droneAttr mr-3') Drone Cost is:
            div #{cost}
            div.row
            div(class='droneAttr mr-3') Drone Use is:
            div #{use}
            button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
            button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
        function cancel() {
            // Go back to the home page for the drone collection
            window.location.href='/drone'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/drone'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }